{
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [
        "istanbul",
        "transform-runtime"
      ]
    },
    "build": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >= 7"
              ]
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "lodash",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ]
    }
  }
}
